a {
    margin-right: 0.3rem;
}

img{
    margin-right: 0.3rem;
}
header{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0.2rem 0.2rem;
    box-shadow: 0 4px 12px 0 var(--couleur-ombre);
}
