<div>
    <header [style.--couleur-ombre]="preferenceService.couleurPreferee()">
        <img src="/beard.svg" alt="logo" width="30px" height="30px">
        <a routerLink="/textinterpolation">Text-Interpolation</a>
        <a routerLink="/bindings">Bindings</a>
        <a routerLink="/controlflow">Control-Flow</a>
        <a routerLink="/exosbindings">ExosBindings</a>
        <a routerLink="/signals">Signals</a>
        <a routerLink="/exossignals">ExosSignals</a>
        <a routerLink="/produits">Input</a>
        <a routerLink="/produitsv2">Material</a>
        <a routerLink="/votation">Output</a>
        <a routerLink="/exosio">ExosIO</a>
        <a routerLink="/pipes">Pipes</a>
        <a routerLink="/produitshttp">ProduitsHttp</a>
    </header>
</div>